.head{
    font-size: 10px;
}
.headh2{
    font-size: 10px;
}
.Appcom{
    background-color: rgb(211, 195, 173);
    
}
.appcomdata{
    margin: 5px;
    padding: 5px;
}
.line{
    background-color: black;
    height: 1px;
}